#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1); /* Light shade with transparency */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Box effect */
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p {
    display: flex;
    font-size: 0.9rem;
    font-weight: 200;
}
.skillBarBadgeText{
    justify-content:space-between;
    text-align:center;
}
.skillBadgeh2{
    text-align: center;
}

@media screen and (max-width:720px){
    .skillBarText>p{
        font-size: 2vm;
    }
}

@media screen and (max-width:480px){
    .skillBarText>p{
        display: flex;
        font-size: 3vm;
    }
    .skillBarImg {
        display: flex;
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        display: flex;
        font-size: 5vm;
    }
}
