h1 {
    color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}